<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WMS.WebClient-20131222164103;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WMS.WebClient-20131222164103.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <!--<membership defaultProvider="ExtendedSimpleMembershipProvider">
      <providers>
        <clear/>
        <add name="ExtendedSimpleMembershipProvider" type="WMS.WebClient.Misc.ExtendedSimpleMembershipProvider, WMS.WebClient"/>
      </providers>
    </membership>-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name="WMSSession" loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <globalization culture="pl-PL" uiCulture="pl" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="HTTPSRedirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="SecureBinding_IAuthenticationService">
          <security mode="Transport">
            <!--<message clientCredentialType="None" />-->
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="SecureBinding_IAdministrationService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="SecureBinding_IWarehousesService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="SecureBinding_IGroupsService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="SecureBinding_IPartnersService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="SecureBinding_IProductsService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44302/AuthenticationService.svc" binding="wsHttpBinding" bindingConfiguration="SecureBinding_IAuthenticationService" contract="WMS.ServicesInterface.ServiceContracts.IAuthenticationService" name="SecureBinding_IAuthenticationService" behaviorConfiguration="ClientBehavior">
        <identity>
          <dns value="TestCert" />
        </identity>
      </endpoint>
      <endpoint address="https://localhost:44302/WarehousesService.svc" binding="wsHttpBinding" bindingConfiguration="SecureBinding_IWarehousesService" contract="WMS.ServicesInterface.ServiceContracts.IWarehousesService" name="SecureBinding_IWarehousesService" behaviorConfiguration="ClientBehavior">
        <identity>
          <dns value="TestCert" />
        </identity>
      </endpoint>
      <endpoint address="https://localhost:44302/GroupsService.svc" binding="wsHttpBinding" bindingConfiguration="SecureBinding_IGroupsService" contract="WMS.ServicesInterface.ServiceContracts.IGroupsService" name="SecureBinding_IGroupsService" behaviorConfiguration="ClientBehavior">
        <identity>
          <dns value="TestCert" />
        </identity>
      </endpoint>
      <endpoint address="https://localhost:44302/PartnersService.svc" binding="wsHttpBinding" bindingConfiguration="SecureBinding_IPartnersService" contract="WMS.ServicesInterface.ServiceContracts.IPartnersService" name="SecureBinding_IPartnersService" behaviorConfiguration="ClientBehavior">
        <identity>
          <dns value="TestCert" />
        </identity>
      </endpoint>
      <endpoint address="https://localhost:44302/ProductsService.svc" binding="wsHttpBinding" bindingConfiguration="SecureBinding_IProductsService" contract="WMS.ServicesInterface.ServiceContracts.IProductsService" name="SecureBinding_IProductsService" behaviorConfiguration="ClientBehavior">
        <identity>
          <dns value="TestCert" />
        </identity>
      </endpoint>
      <endpoint address="https://localhost:44302/AdministrationService.svc" binding="wsHttpBinding" bindingConfiguration="SecureBinding_IAdministrationService" contract="WMS.ServicesInterface.ServiceContracts.IAdministrationService" name="SecureBinding_IAdministrationService" behaviorConfiguration="ClientBehavior">
        <identity>
          <dns value="TestCert" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>