<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="SecureBinding_IWarehousesService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <!--<transport clientCredentialType="None" />-->
          </security>
        </binding>
        <binding name="SecureBinding_IPartnersService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <!--<transport clientCredentialType="None" />-->
          </security>
        </binding>
        <binding name="SecureBinding_IProductsService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <!--<transport clientCredentialType="None" />-->
          </security>
        </binding>
        <binding name="SecureBinding_IGroupsService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <!--<transport clientCredentialType="None" />-->
          </security>
        </binding>
        <binding name="SecureBinding_IAuthenticationService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SecureProfile">
          <serviceCredentials>
            <!--<serviceCertificate findValue="TestCert" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My" />-->
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WMS.Services.Authentication.UserValidator, WMS.Services" />
          </serviceCredentials>
        </behavior>
        <behavior>

          <!--To avoid disclosing metadata information, set the values below to false before deployment-->

          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />

          <!--To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information-->

          <!--<serviceDebug includeExceptionDetailInFaults="false" />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WMS.Services.WarehousesService" behaviorConfiguration="SecureProfile">
        <endpoint binding="wsHttpBinding" bindingConfiguration="SecureBinding_IWarehousesService" name="SecureBinding_IWarehousesService" contract="WMS.ServicesInterface.ServiceContracts.IWarehousesService" />
      </service>
      <service name="WMS.Services.PartnersService" behaviorConfiguration="SecureProfile">
        <endpoint binding="wsHttpBinding" bindingConfiguration="SecureBinding_IPartnersService" name="SecureBinding_IPartnersService" contract="WMS.ServicesInterface.ServiceContracts.IPartnersService" />
      </service>
      <service name="WMS.Services.ProductsService" behaviorConfiguration="SecureProfile">
        <endpoint binding="wsHttpBinding" bindingConfiguration="SecureBinding_IProductsService" name="SecureBiding_ProductsService" contract="WMS.ServicesInterface.ServiceContracts.IProductsService" />
      </service>
      <service name="WMS.Services.GroupsService" behaviorConfiguration="SecureProfile">
        <endpoint binding="wsHttpBinding" bindingConfiguration="SecureBinding_IGroupsService" name="SecureBinding_GroupsService" contract="WMS.ServicesInterface.ServiceContracts.IGroupsService" />
      </service>
      <service name="WMS.Services.AuthenticationService" behaviorConfiguration="SecureProfile">
        <endpoint binding="wsHttpBinding" bindingConfiguration="SecureBinding_IAuthenticationService" name="SecureBinding_IAuthenticationService" contract="WMS.ServicesInterface.ServiceContracts.IAuthenticationService" />
      </service>
    </services>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SystemEntities" connectionString="Server=.\SQLEXPRESS; Database=DotNetLab1; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>